@{
    ViewBag.Title = "Confirmación de restablecimiento de contraseña";
}
<br />
<div style="background-color:white; padding:20px;">
    <div>
        <center><img src="https://img2.freepng.es/20180406/wpq/kisspng-computer-icons-iphone-padlock-5ac800a30f8c59.9638869115230568030637.jpg" alt="candado" style="width:200px;height:200px;" /></center>
    </div>
    <hgroup class="title">
        <h1 class="text-center">@ViewBag.Title</h1>
    </hgroup>
    <br />
    <div>
        <p class="text-center">
            Se restableció la contraseña.
        </p>
    </div>
    <br />
    <br />
    <div class="text-center">
        @Html.ActionLink("Haga clic aquí para iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "col-6 main-btn primary-btn btn-hover text-center" })
    </div>
</div>